header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;

}

.webmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#000008;
}

.webmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.webmovie-contact-container{
    display: flex;
    align-items: center;

}

.webmovie-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}